
.top-navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
  width: 100%;
  height: 3.2rem;
  background-color: black;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0 12px;
  box-sizing: border-box;
}


.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: White; 
  padding-left: 2rem;/* blue-600 */
}

.navbar-links {
  display: flex;
  gap: 24px;
}

.nav-item {
  font-size: 16px;
  font-weight: 500;
  color: white; /* gray-700 */
  cursor: pointer;
  transition: color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:hover {
  color: #2563eb;
}

.navbar-user {
  font-size: 16px;
  font-weight: 500;
  color: #374151;
  padding-right: 0rem;
}
a{
  text-decoration: none !important;
}